img {
    height: 100px;
    width: 100px;
}

.ranNum {
    background-color: blueviolet;
    width: 20%;
    height:50%;
    font-size: 100px;
}

.crystal1text {
    color: white; 
}

.crystal2text {
    color: white; 
}

.crystal3text {
    color: white; 
}

.crystal4text {
    color: white; 
}