img {
    height: 100px;
    width: 100px;
    padding: 0;
}

.ranNum {
    background-color: blueviolet;
    width: 40%;
    height:50%;
    font-size: 100px;
}

.crystal1text {
    color: white; 
}

.crystal2text {
    color: white; 
}

.crystal3text {
    color: white; 
}

.crystal4text {
    color: white; 
}

.title {
    background-color: #FFD700;
    width: 40%;
    padding: 20px;
    font-size: 45px;
}

.directions {
    font-size: 20px;
    background-color: lightgreen;
    width: 43%;
    height: 300px;
}

.info {
    font-size : 30px;
    background-color: gold;
    width: 40%;
}